{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}
<footer class="main-footer">
    <div class="first-sec">
        <ul>
            <li>Home</li>
            <li>Documents</li>
            <li>Locations</li>
        </ul>
    </div>
    <div class="second-sec">
        <ul>
            <li>Home</li>
            <li>Documents</li>
            <li>Locations</li>
        </ul>
    </div>
    <div class="third-sec">
        <ul>
            <li>Home</li>
            <li>Documents</li>
            <li>Locations</li>
        </ul>
    </div>

</footer>